.app {
  display: flex;
  justify-content: center;
}

.calculator {
  width: 700px;
}

.button {
  width: 25%;
  height: 100%;
  border: 1.5px solid #d1d1de;
  font-size: 25px;
  outline: none;
  background-color: #e0e0e0;
}

.calc-result {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100px;
  background-color: #858694;
  color: white;
  font-size: 40px;
  font-weight: bold;
}

.result-display {
  margin: 0;
  margin-right: 10px;
  padding: 0;
}

.button-group {
  height: 100px;
}
